header{
    background-color: red;
    color:white;
    display: flex;
    justify-content:space-between;
    }

nav ul{
    display:flex;
}

ul li{
    margin: 10px;
}

img{
    border-radius: 10px;
    width: 500px;
    height: 300px;
}

.nueva{
    width: 400px;
    height: 300px;
    justify-content: center;
   }

footer{
    width: 1335px;
    background-color: rgb(19, 10, 31);
    color:white;
    display: flex;
    justify-content:space-between;
}

.Mascotas{
    color: white;
    justify-content:center;
}
.Menu {
    color: white;
    display: flex;
    justify-content: flex-end;
      }

.text-white{
    color: white;
}

.menu f{
    text-decoration: none;
}

.Left{
    float:left;
    width: -5000px;
    text-align: left;
    margin: 5000px,50px;
    display: inline;
   /* align-items: stretch;*/
}

.Rigth{
    float: left;
    width: 400px;
    text-align: left;
    margin: 1000px,1000px;
    /*width: 50px;
    height: 200px;*/
    display: inline;
 /*   align-items: stretch;*/
    
}