header{
    background-color: red;
    color:white;
    display: flex;
    justify-content:space-between;
    }

nav ul{
    display:flex;
}

ul li{
    margin: 10px;
}

img{
    border-radius: 10px;
    width: 500px;
    height: 300px;
}

.nueva{
    width: 400px;
    height: 300px;
    justify-content: center;
   }

footer{
    background-color: rgb(19, 10, 31);
    color:white;
    display: flex;
    justify-content:space-between;
}

.Mascotas{
    color: white;
    justify-content:center;
}
.Menu {
    color: white;
    display: flex;
    justify-content: flex-end;
      }

.text-white{
    color: white;
}

.menu f{
    text-decoration: none;
}